.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

